<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Lugar</title>
</head>

<body>

    <h1>Cadastrar Lugar Visitado</h1>

    <form method="POST">

        <label>Nome do lugar:</label>

        <input type="text" name="nome" required>

        <br><br>


        <label>Data da visita:</label>

        <input type="date" name="data_visita" required>

        <br><br>


        <label>Descrição:</label>

        <textarea name="descricao" required></textarea>

        <br><br>


        <button type="submit">
            Cadastrar
        </button>

    </form>

    <br>

    <a href="/">Voltar</a>

</body>

</html>